#############################
# Plugin/SolaceCore .gitignore
#############################

# IDEs
.idea/
*.iml
.vscode/
!.vscode/extensions.json

# Java / Maven
*.class
/target/
dependency-reduced-pom.xml

# Logs
*.log

# JVM crash logs
hs_err_pid*
replay_pid*

# Local Paper test server (do not commit runtime files)
/server/
